
body{
    display: block;
    margin: 100px;
}

#header {
   text-align: center;
   color: red;

}

#p1 {
    width: 350px;
    border: 3px solid cyan;
    padding: 100 px;
    margin: 100px;
    text-align: center;
}

.wrapper {
    text-align: center;
} 
.button {
    position: absolute;
    top: 30%;
}

#page2 {
    color: black;
}


